@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

body
{
	font-family: 'Roboto', sans-serif;
	color: #444;
	line-height: 1.6;
	background-color: #FFF;
	margin: 20px;
	padding: 0;
	background-color: #EEEEEE;
}

*
{
	font-size: 18px; /* HTML whitespace fix */
}

.right
{
	float: right;
	text-align: right;
}

.wrapper
{
	max-width: 1100px;
	margin: 0 auto;
	font-size: 0; /* HTML whitespace fix */
}

.result
{
	display: inline-block;
	width: calc(50% - 30px);
	padding: 5px;
	margin: 10px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	background-color: white;
	vertical-align: top;
}

.result .titel
{
	display: block;
	width: 100%;
	font-size: 2em;
}

.result .band, .result .jaar
{
	font-weight: 300;
}

.result .jaar
{
	float: right;
}

/* notifications */

.tip, .success, .error
{
	margin: 20px 10px;
	padding: 20px;
}

.tip a, .success a, .error a
{
	color: rgba(0, 0, 0, .52);
	text-decoration: none;
}

.tip a:hover,
.success a:hover,
.error a:hover
{
	color: rgba(0, 0, 0, .86);
}

.tip{background-color:#FFE8A1;border:2px solid #E7CA74;}
.success{background-color:#B4FFB4;border:2px solid #87E687;}
.error{background-color:#FFB2B2;border:2px solid #FF8383;}

@media screen and (max-width: 720px)
{
	body
	{
		margin: 10px;
	}

	.wrapper
	{
		width: 100%;
	}

	.result
	{
		display: block;
		margin-left: 0;
		margin-right: 0;
		width: initial; /* kut css */
	}

	.tip, .success, .error
	{
		margin: 20px 0;
		padding: 20px;
		display: block;
	}
}

@media screen and (max-width: 400px)
{
	.right
	{
		float: none;
		display: block;
		text-align: left;
		margin-top: 10px;
	}
}